form{
    width: 80vw;
    /* center the form */
    margin: auto;
}


fieldset{
    padding: 40px;
}

/*----------------------------------------------
Centering a Container Horizontally and Vertically
-----------------------------------------------*/

#age-field{
    display: flex;
    flex-direction: column;

    /* Aligns items along the main axis, horizontally by default */
    justify-content: center; 

    /* Aligns items along the cross axis, vertically by default */
    align-items: center;
}

#gender-field{
    display: grid;

    /* Center horizontally */
    justify-items: center;

    /* Center vertically */
    align-items: center;
}


#nation-field{
    display: grid;

    /* Two columns: one for label, one for input */
    /* grid-template-columns: auto auto; */

    /* Align items to the center, both horizontally and vertically */
    place-items: center;
}
